# Ignore local vagrant files
.vagrant/

# Ignore npm local modules and debug files
node_modules/
npm-debug.log

# Ignore public (compiled) files
# TODO: uncomment these; commented out temporarily for dev
public/lib
# public/css
# public/html
public/js
