// Make sure this stays in sync with the value from constants.js file
$stripe-width: 268px;

$green-color: #A0B72C;
$light-blue-color: #3593DD;
$dark-blue-color: #0D2335;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light";
}

hr {
  border-color: $light-blue-color;
}

#map-canvas {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

#top-bar {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background: rgba(16, 44, 68, 0.5);
  padding: 10px;
  color: white;
  z-index: 100;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#button {
  float: right;
}

#button a {
  color: white;
}

.fullheight {
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}

.nopadding {
  padding: 0;
}

.withpadding {
  padding: 20px;
}

.menu {
  width: $stripe-width;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}

.main {
  height: 100%;
  margin-left: $stripe-width;
  position: relative;
}

.stripe {
  background-color: $dark-blue-color;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  position: absolute;

  -webkit-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;

  overflow-x: hidden;
  overflow-y: auto;
}

.stripe.stripe1 {
  left: 0;
}

.stripe.stripe2 {
  left: $stripe-width;
}

.stripe img {
  display: block;
  margin: 0 auto;
}

.stripe .mini-logo {
  width: 50px;
}

.stripe .full-logo {
  width: 150px;
}

.stripe .big-button {
  margin: 0 auto;
  display: block;

  background-color: $light-blue-color;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  border: solid 2px $light-blue-color;
  color: $dark-blue-color;

  width: 150px;
  height: 45px;
  font-size: 15px;
  font-weight: bold;
}

.stripe .big-button.half {
  width: 75px;
  display: inline;
}

.stripe .button-box {
  text-align: center
}

.stripe .big-button.color1 {
  border-color: $light-blue-color;
  background-color: $light-blue-color;
}

.stripe .big-button.color2 {
  border-color: $green-color;
  background-color: $green-color;
}

.errand-button {
  color: #000;
}

.stripe input {
  margin-bottom: 20px;
  padding: 5px;
}

.point-type {
  color: white;
  text-align: justify;
  margin: 10px auto;
}

.point-type input {
  color: black;
}

.point-type hr {
  border-color: $light-blue-color;
  margin: 0 0 8px;
}

.point-type label {
  color: $light-blue-color;
}

.point-type .number {
  background-color: $light-blue-color;
  padding: 1px 6px 3px;
  margin-right: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.direction-step {
  margin: 7px auto;
}

.welcome {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  left: 0;


  background: -webkit-linear-gradient(rgba(16, 44, 68, 0.8), rgba(255, 255, 255, 0.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(16, 44, 68, 0.8), rgba(255, 255, 255, 0.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(16, 44, 68, 0.8), rgba(255, 255, 255, 0.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(16, 44, 68, 0.8), rgba(255, 255, 255, 0.8)); /* Standard syntax */
}

.welcome .mid {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.welcome h1 {
  color: $dark-blue-color;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
}

.welcome h2 {
  color: white;
}

.welcome img {
  width: 500px;
}

.welcome button {
  background-color: Transparent;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  border: solid 2px $dark-blue-color;
  color: $dark-blue-color;

  width: 200px;
  height: 75px;
  font-size: 25px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.link-button {
  margin-top: -5px;
  display: block;
}

.slimScrollDiv {
  float: left;
}

.ui-autocomplete {
  background-color: white;
  width: 180px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui-state-focus {
  margin: 0 !important;
}

.gps-button {
  text-align: center;

  font-size: 22px;
  color: white;

  width: 34px;
  height: 34px;

  padding: 0;

  background-color: $green-color;
  border: solid 1px $green-color;

  vertical-align: middle;
  margin-left: 10px;
}

.gps-button:hover {
  background-color: $light-blue-color;
  border: solid 1px $light-blue-color;
  cursor: pointer;
}

.spinner {
  float: right;
}

.spin {
  -webkit-animation: spin 4s infinite linear;
  -moz-animation: spin 4s infinite linear;
  -o-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
}

.text-bold {
  font-weight: 600;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
