html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

#top-bar {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  z-index: 100;
}

#instructions {
  float: left;
}

#button {
  float: right;
}

#button a {
  color: white;
}

