$stripe-width: 225px;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

#top-bar {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  z-index: 100;
}

#instructions {
  float: left;
}

#button {
  float: right;
}

#button a {
  color: white;
}

.fullheight {
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}

.nopadding {
  padding: 0;
}

.withpadding {
  padding: 20px;
}

.menu {
  width: $stripe-width;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}

.main {
  height: 100%;
  margin-left: $stripe-width;
  position: relative;
}

.stripe {
  background-color: #354458;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  position: absolute;

  -webkit-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;

}

.stripe.stripe1 {
  left: 0;
}

.stripe.stripe2 {
  left: $stripe-width;
}

.stripe img {
  display: block;
  margin: 0 auto;
}

.stripe .mini-logo {
  width: 50px;
}

.stripe .full-logo {
  width: 150px;
}

.stripe button {
  margin: 0 auto;
  display: block;

  background-color: #EA7260;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  border: solid 2px #EA7260;
  color: #354458;

  width: 150px;
  height: 45px;
  font-size: 15px;
  font-weight: bold;
}

.stripe input {
  margin-bottom: 20px;
  padding: 5px;
}

.point-type {
  color: white;
  text-align: justify;
  margin: 10px auto;
}

.point-type input {
  color: black;
}

.point-type hr {
  border-color: #EA7260;
  margin: 0 0 8px;
}

.point-type label {
  color: #EA7260;
}

.point-type .number {
  background-color: #EA7260;
  padding: 1px 6px 3px;
  margin-right: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.direction-step {
  margin: 7px auto;
}

.welcome {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  left: 0;


  background: -webkit-linear-gradient(rgba(89, 100, 114, 0.8), rgba(255, 255, 255, 0.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(89, 100, 114, 0.8), rgba(255, 255, 255, 0.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(89, 100, 114, 0.8), rgba(255, 255, 255, 0.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(89, 100, 114, 0.8), rgba(255, 255, 255, 0.8)); /* Standard syntax */
}

.welcome .mid {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

.welcome h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.welcome h2 {
  color: white;
}

.welcome img {
  width: 500px;
}

.welcome button {
  background-color: Transparent;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  border: solid 2px #EB7260;
  color: #EB7260;

  width: 200px;
  height: 75px;
  font-size: 25px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.link-button {
  margin-top: -5px;
  display: block;
}
