<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>

	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/lib/components-font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/css/map.css"/>

</head>
<body>

{{{body}}}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{gmaps_key}}"></script>
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/jquery-cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/web.js"></script>

</body>
</html>
