<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/components-font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/jqueryui/themes/redmond/jquery-ui.css">
    <link rel="stylesheet" href="/css/map.css"/>

</head>
<body>

{{{body}}}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBQcS5hXEN_eWDS2E5e40ORtJTdcB9aGwI"></script>
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/jquery-cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="/lib/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/slimScroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/lib/fuse/src/fuse.min.js"></script>
<script type="text/javascript" src="/js/web.js"></script>

</body>
</html>
