<div class="container-fluid fullheight">

	<div class="row fullheight">
		<div class="col-md-2 fullheight nopadding">

			<div class="menu fullheight">

				<img src="/img/logo2.png" alt="">

				<div class="group">
					<div class="label">ORIGIN</div>
					<input type="text" placeholder="e.g. current location">
				</div>

				<div class="group">
					<div class="label">ERRANDS</div>
					<input type="text" placeholder="e.g. grab a coffee">
					<input type="text" placeholder="e.g. post a letter">
					<input type="text" placeholder="e.g. buy carrots">
				</div>

				<div class="group">
					<div class="label">DESTINATION</div>
					<input type="text" placeholder="e.g. current location">
				</div>


				<button type="button">GET ROUTE</button>
			</div>
		</div>
		<div class="col-md-10 fullheight">

			<div class="container fullheight">
				<div id="top-bar" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:none">
					<div id="instructions">Select your starting position</div>
					<div id="button">
						<a href="#">Get My Route</a>
					</div>
				</div>

				<div id="map-canvas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>

				<div class="welcome" id="d-welcome">

					<div class="mid">
						<img class="img" src="/img/logo.png" alt="">

						<h1>The simplest way <br />
						to do what you want</h1>
						<h2>
							Tell us what you need to do today,
							we will find the best route and
							nearest locations to accomplish
							your errands
						</h2>

						<div class="center">
							<button type="button" id="b-start">LET'S GO</button>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</div>
