<div class="fullheight">
    <div class="menu nopadding">
        <div id="stripe-input" class="stripe stripe1 withpadding">
            <img id="mini-logo" class="mini-logo" src="/img/logo2.png" alt="">

            <div id="origin-point" class="point-type">
                <label>ORIGIN</label>
                <hr>
                <input type="text" id="origin-input-primary" placeholder="e.g. current location">{{!-- WS
                 --}}<button class="errand-button gps-button hidden" id="gps-button" type="button">
                    <i class="fa fa-crosshairs"></i>
                </button>
            </div>

            <div id="errands-point" class="point-type">
                <label>ERRANDS</label>
                <hr>
                <input type="text" id="errand-hack" class="hidden" placeholder="e.g. Grab a coffee">
                <div>
                    <input type="text" id="errand-input-primary" class="errand-input" placeholder="First select starting point" disabled="disabled">{{!-- WS
                     --}}<button class="errand-button gps-button hidden" id="b-use-gtsp" type="button">
                        <i class="fa fa-map-marker"></i>
                    </button>
                </div>
            </div>

            <hr>
            <button class="big-button" type="button" id="get-route">GET ROUTE</button>
{{!--             <hr>
            <button class="big-button secondary" type="button" id="b-use-gtsp">ANY</button> --}}
        </div> {{!-- .stripe --}}

        <div id="stripe-results" class="stripe stripe2 withpadding">

            <img id="full-logo" class="full-logo" src="/img/busyroute_logo_white.png" alt="">

            <div id="result-origin" class="point-type">
                <label>ORIGIN</label>
                <hr>
                {{!-- Javascript Generated points --}}
            </div>

            <div id="result-errands" class="point-type">
                <label>ERRANDS</label>
                <hr>
                {{!-- Javascript Generated points --}}
            </div>

            <div id="result-destination" class="point-type">
                <label>DESTINATION</label>
                <hr>
                {{!-- Javascript Generated points --}}
            </div>

            <hr>

            <div class="button-box">
                <button class="big-button half color2" type="button" id="b-edit-route">EDIT</button>{{!-- WS
                 --}}<button class="big-button half color1" type="button" id="b-clear-route">CLEAR</button>
            </div>

        </div> {{!-- .stripe --}}
    </div> {{!-- .menu --}}

    <div class="main">
        <div id="top-bar" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="instructions">Select your starting position</div>
             <!-- <div id="button"> -->
             <!-- <a href="#">Get My Route</a> -->
             <!-- </div> -->
        </div>

        <div id="map-canvas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>

        <div class="welcome" id="d-welcome" style="display:none">

            <div class="mid">
                <img class="img" src="/img/busyroute_logo_white.png" alt="">

                <h1>The simplest way <br />
                to do what you want</h1>
                <h2>
                    Tell us what you need to do today,
                    we will find the best route and
                    nearest locations to accomplish
                    your errands
                </h2>

                <div class="center">
                    <button type="button" id="b-start">LET'S GO</button>
                </div>
            </div>
        </div>
    </div> {{!-- .main --}}
</div>
