<div class="fullheight">
    <div class="menu nopadding">
        <div id="stripe-input" class="stripe stripe1 withpadding">
            <img id="mini-logo" class="mini-logo" src="/img/logo2.png" alt="">

            <div id="origin-point" class="point-type">
                <label>ORIGIN</label>
                <hr>
                <input type="text" id="origin-input-primary" class="input-box" placeholder="e.g. current location">{{!-- WS
                 --}}<button class="errand-button gps-button" id="gps-button" type="button">
                    <i class="fa fa-crosshairs"></i>
                </button>
            </div>

            <div id="errands-point" class="point-type">
                <label>ERRANDS</label>
                <hr>
                <input type="text" id="errand-template" class="hidden input-box" placeholder="e.g. Grab a coffee">
                <div>
                    <input type="text" id="errand-input-primary" class="errand-input input-box" placeholder="First select starting point" disabled="disabled">{{!-- WS
                     --}}<button class="errand-button gps-button first" id="b-use-gtsp" type="button">
                        <i class="fa fa-map-marker"></i>
                    </button>
                </div>
            </div>

           <!--  <hr> -->
            <button class="big-button" type="button" id="get-route">GET ROUTE</button>
        </div> {{!-- .stripe --}}

        <div id="stripe-results" class="stripe stripe2 withpadding">

            <img id="full-logo" class="full-logo" src="/img/busyroute_logo_white.png" alt="">

            <div id="result-origin" class="point-type">
                <label>ORIGIN</label>
                <hr>
                {{!-- Javascript Generated points --}}
            </div>

            <div id="result-errands" class="point-type">
                <label>ERRANDS</label>
                <hr>
                {{!-- Javascript Generated points --}}
            </div>

            <div id="result-destination" class="point-type">
                <label>DESTINATION</label>
                <hr>
                {{!-- Javascript Generated points --}}
            </div>

            <hr>

            <div class="button-box">
                <button class="big-button half color2" type="button" id="b-edit-route">EDIT</button>{{!-- WS
                 --}}<button class="big-button half color1" type="button" id="b-clear-route">CLEAR</button>
            </div>

        </div> {{!-- .stripe --}}
    </div> {{!-- .menu --}}

    <div class="main">
        <div id="top-bar" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span id="instructions">Select your starting position</span>
            <span class="spinner" id="spinner" style="display:none">
                <i class="fa fa-spinner spin"></i>
            </span>
        </div>

        <div id="map-canvas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>

        <div class="welcome" id="d-welcome" style="display:none">

            <div class="mid">
                <img class="img" src="/img/busyroute_logo_white.png" alt="">

                <h1>The routing app for busy people</h1>
                <h2>
                    Tell us <text class="text-bold">what</text> you want to do today,
                </br>
                    we will tell you <text class="text-bold">where</text> to do it!
                    </br> </br> BusyRoute will find the best route </br> and
                    nearest locations for you to accomplish your errands
                </h2>
                </br>
                <div class="center">
                    <button type="button" id="b-start">LET'S GO</button>
                </div>
            </div>
        </div>
    </div> {{!-- .main --}}
</div>
